services:
  master:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-master
    ports:
      - "9333:9333"      # Master HTTP API
      - "19333:19333"    # Master gRPC
    volumes:
      - ./seaweedfs/master:/data
    command: "master -ip=master -port=9333 -mdir=/data -peers=master:9333"
    networks:
      - seaweedfs-network
    restart: unless-stopped

  volume1:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-volume1
    ports:
      - "8080:8080"      # Volume HTTP API
    volumes:
      - ./seaweedfs/volume1:/data
    command: "volume -mserver=master:9333 -port=8080 -dir=/data -max=0"
    depends_on:
      - master
    networks:
      - seaweedfs-network
    restart: unless-stopped

  filer:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-filer
    ports:
      - "8888:8888"      # Filer HTTP API
      - "18888:18888"    # Filer gRPC
    volumes:
      - ./seaweedfs/filer:/data
    command: "filer -master=master:9333 -port=8888"
    depends_on:
      - master
      - volume1
    networks:
      - seaweedfs-network
    restart: unless-stopped

networks:
  seaweedfs-network:
    driver: bridge
